
  <div class="container">
    <h2 class="font-weight-light text-center proxima-bold text-primary">
      TENDER OVERALL REPORT
        </h2>
    <hr />
    <div class="container switchClass">
      <label >
        <span class ="textLabel">Split View:</span>
        <kendo-switch
        [(ngModel)]="checked"
        [onLabel]="'ON'"
        [offLabel]="'OFF'"
        (valueChange)="change($event)"
      ></kendo-switch>
      </label>
    </div>
    <div class="container" style="height: 40px;">
      <div class="row">
        <div class="col">
          <button style="margin-bottom: 5px;" mat-raised-button color="primary" (click)="openFileDialog()">Create Item</button>
        </div>
        <div class="col-6" style="text-align: center;">
          <div class="demo" style="text-align: -webkit-center;">
            <kendo-card [width]="'100%'">
                <kendo-card-body style="padding: 5px; background-color: #f0165b; color: white;" >
                    <div style="font-weight: bold;" class="col-sm">{{tenderType}} - Amount: {{tenderAmount | currency:'INR':'symbol'}}</div>
                  
                </kendo-card-body>
            </kendo-card>
          </div> 
           </div>
        <div class="col">
          <button style="float: right; margin-bottom: 5px;" mat-raised-button color="primary" (click)="overallReport()">Overall Report</button>
        </div>
      </div>
      
    </div>

    <div *ngIf="loading; else content">
      <app-busyindicator>Loading Items...</app-busyindicator>
      </div>
      <ng-template #content >
<div class ="fixeddiv container" *ngIf="checked">
  <div class="container splitKendo" *ngFor="let item of tenderReportList">
    <div class="labelExpenditure">
      <span>{{item.expenditureType}}</span>
    </div>

  <kendo-grid [data]="item.reports">
    
    <kendo-grid-column
      field="itemName"
      title="Item Name"
      [locked]="true"
       [style]="{'background-color': '#EBEBEB'}"
        [footerStyle]="{'background-color': '#EBEBEB'}"
        [headerStyle]="{'background-color': '#EBEBEB'}"
      [width]="300"
    >
      <ng-template kendoGridFooterTemplate >Items: {{item.count}}</ng-template>
    </kendo-grid-column>

    <kendo-grid-column
    field="createdDate"
    title="Created Date"
    [locked]="false"
    [width]="210"
  >
  </kendo-grid-column>

  <kendo-grid-column
      field="amount"
      title="Amount"
      [locked]="false"
      [width]="210" 
      [footerStyle]="{'color': '#3F51B5','text-align': 'right'}"
      [headerStyle]="{'text-align': 'center'}"
          [style]="{'text-align': 'right'}"
      >
    <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.amount | currency:'INR':'symbol'}}</ng-template>
    <ng-template kendoGridFooterTemplate >Total: {{item.amount | currency:'INR':'symbol'}}</ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="action"
      [locked]="false"
      [headerStyle]="{'text-align': 'center'}"
      title="Action"
      [width]="200"
    >
     <ng-template kendoGridCellTemplate let-dataItem>
      <button style="margin-right: 10px;" mat-raised-button  (click)="updateFileDialog(dataItem)"><span class="material-icons">
        edit
        </span></button>
      <button mat-raised-button color="warn" (click)="deleteFileDialog(dataItem.tenderReportId)"><span class="material-icons">
        delete_sweep
        </span></button>
    </ng-template>
    </kendo-grid-column>
  <kendo-grid-excel fileName="Tenders.xlsx"></kendo-grid-excel>
  <kendo-grid-pdf fileName="Tenders.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
     <div class="page-template">
        <div class="header">
          <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
        </div>
      </div>
    </ng-template>
</kendo-grid-pdf>
  </kendo-grid>
</div>
</div>

<div class="fixeddiv container" *ngIf="!checked">
  <kendo-grid [data]="gridData"  scrollable="scrollable" [height]="650"
  [group]="state.group"
  [groupable]="{ showFooter: true }"
  (dataStateChange)="dataStateChange($event)">
    <ng-template kendoGridToolbarTemplate>
                <!-- <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button> -->
                <button type="button" kendoGridExcelCommand icon="file-excel">Export to Excel</button>
            </ng-template>
    <kendo-grid-column
      field="itemName"
      title="Item Name"
      [locked]="true"
      [width]="280"
      [style]="{'background-color': '#EBEBEB'}"
      [footerStyle]="{'background-color': '#EBEBEB'}"
      [headerStyle]="{'background-color': '#EBEBEB'}"
    >
    <ng-template kendoGridFooterTemplate>Items: {{itemCount}}</ng-template>

      <ng-template kendoGridGroupFooterTemplate let-group="group" let-aggregates>
        <span title="Group Footer Template for ProductName">
            Count: {{ aggregates.itemName.count }}
        </span>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="expenditureType"
      title="Expenditure Type"
       [locked]="false"
       [width]="200"
    >
    
    </kendo-grid-column>

    <kendo-grid-column
    field="createdDate"
    title="Created Date"
    [locked]="false"
    [width]="170"
  >
  </kendo-grid-column>

      <kendo-grid-column
      field="amount"
      title="Amount"
          [locked]="false"
          [footerStyle]="{'color': '#3F51B5','text-align': 'right'}"
          [headerStyle]="{'text-align': 'center'}"
          [style]="{'text-align': 'right'}"
      [width]="170"
    >
    <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.amount | currency:'INR':'symbol'}}</ng-template>
    <ng-template kendoGridFooterTemplate>Total: {{totalAmount | currency:'INR':'symbol'}}</ng-template>

  
  <ng-template kendoGridGroupFooterTemplate let-group="group" let-aggregates>
      <span title="Group Footer Template for UnitPrice">
          Sum: {{ aggregates.amount.sum | currency:'INR':'symbol'}}
      </span>
  </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="action"
      title="Action"
                [headerStyle]="{'text-align': 'center'}"

                [locked]="false"

      [width]="190"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      <button style="margin-right: 10px;" mat-raised-button  (click)="updateFileDialog(dataItem)"><span class="material-icons">
        edit
        </span></button>
      <button mat-raised-button color="warn" (click)="deleteFileDialog(dataItem.tenderReportId)"><span class="material-icons">
        delete_sweep
        </span></button>
    </ng-template>
    </kendo-grid-column>
  <kendo-grid-excel fileName="Tenders.xlsx"></kendo-grid-excel>
  <kendo-grid-pdf fileName="Tenders.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
     <div class="page-template">
        <div class="header">
          <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
        </div>
      </div>
    </ng-template>
</kendo-grid-pdf>
  </kendo-grid>
</div>
</ng-template>

</div>

