.switchClass{
    text-align: right;
}

.textLabel{
    margin-right: 10px;
}
.labelExpenditure{
    text-align: center;
    font-size: x-large;
    color: #73B6FF;
}
.splitKendo{
    margin-bottom: 25px ;
}

.fixeddiv{
    position: relative;
overflow-y: auto;
height:34vw
}

.overallButton{
    position: fixed;

}