.mat-column-actions{
    display:inline-flex !important;
    justify-content:center!important; // or flex-end
  
  }
  
  .header-align-center{
    display: flex;
    justify-content: center!important;
  }