.pane-content { padding: 0 0px; }
      h3 { font-size: 1.2em; margin: 10px 0; padding: 0; }
      p { margin: 0; padding: 0; }


      .rightalignClass{
        text-align: right;
        padding: 10px;
    }
.red{
  color: red;
}